@using Microsoft.AspNetCore.Identity
@model IEnumerable<TFlix.Models.Subscricao>

@{
    ViewData["Title"] = "Index";
}


@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager


@if (User.IsInRole("Administrador"))
{

    <h1>Lista de Utilizadores</h1>

    <p>
        <a asp-action="Create">Criar novas Subscrições</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Utilizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Utilizador.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (User.IsInRole("Cliente")) { 


    <h1>Susbcrições</h1>

     <div class="columns">
      <ul class="price">
        <li class="header">Básico</li>
        <li class="grey">4,99€ / mês</li>
        <li class="descr">Filmes Ilimitados</li>
        <li class="descr">Séries Ilimitadas</li>
        <li class="descr">Qualidade: 720p</li>
        <li class="grey"><button class="button-34">Adere Aqui</button></li>
       
      </ul>
    </div> 

     <div class="columns">
      <ul class="price">
        <li class="header">Intermédio</li>
        <li class="grey">8,99€ / mês</li>
        <li class="descr">Filmes Ilimitados</li>
        <li class="descr">Séries Ilimitadas</li>
        <li class="descr">Qualidade: Full HD</li>
        <li class="grey"><button class="button-34">Adere Aqui</button></li>
      </ul>
    </div> 

     <div class="columns">
      <ul class="price">
        <li class="header">Anual</li>
        <li class="grey">80€ / ano</li>
        <li class="descr" >Filmes Ilimitados</li>
        <li class="descr">Séries Ilimitadas</li>
        <li class="descr">Qualidade: 4K</li>
        <li class="grey"><button class="button-34">Adere Aqui</button></li>
      </ul>
    </div>  

}else{

    <h1>Cria conta para poderes ter acesso a todos os detalhes!!</h1>

    <div>
        <form class = "bt">
        <img alt ="Slogan" src="~/logo (5).png" />
        <br />
        <button class="button-34" role="button" asp-area="Identity" asp-page="/Account/Register">Registo</button>
        <br />
        <button class="button-34" role="button" asp-area="Identity" asp-page="/Account/Login">Login</button>
        </form>
    </div> 
}